/* A single value will apply the same 
padding on all sides of the box */
#padding1 {
    padding: 20px;
  }
  
  /* Two values will apply as: 
          first value - vertical sides
          second value - horizontal sides */
  #padding2 {
    padding: 20px 40px;
  }
  
  /* Three values will apply as:  
          first value: top side
          second value: horizontal sides
          third value: bottom side */
  #padding3 {
    padding: 20px 50px 5px;
  } 
  
  /* Four values will apply as: 
          first value: top
          second value: right
          third value: bottom
          fourth value: left
  */
  #padding4 {
    padding: 1% 10% 1% 10%;
  }
  
  div {
    padding: 20px;
  }
  
  span {
    background-color: plum;
    border: 5px solid green;
  }
  