.btn {
    border: 5px solid #0018a7;
    font-size: 3em;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #6276f1;
    color: #030d4cc2;
}

.btn:hover {
    border-color: #06a4ff;
    background-color: #596ff3;
    color: #0224ffc2;
}